In [1]:
from datetime import datetime
import os
import duckdb
import pandas as pd
%load_ext sql

%config SqlMagic.autopandas = True
%config SqlMagic.feedback = False
%config SqlMagic.displaycon = False
pd.set_option('max_colwidth', 800)
print(datetime.now())


if os.name == 'posix':
  print("blah linux")

  working_path = '/home/howie/workspace/duckdb_administratie'
  path = os.path.normpath(working_path)
  datapath = os.path.normpath("/home/howie/Documents/MINT HC/2023/transactiedata/")

  os.chdir(path)

else:
  working_path = rf'C:\Users\howie\1.Documenten\MINT HC\database\ingestion'
  path = os.path.normpath(working_path)
  datapath = os.path.normpath(rf"C:\Users\howie\1.Documenten\MINT HC\2023\transactiedata")
  os.chdir(path)

  #os.chdir(working_path)

print(os.getcwd())

#in memory database
#conn = duckdb.connect()
#conn = duckdb.connect()
#%sql conn --alias duckdb
#%sql duckdb:///:default: #%sql duckdb:///:memory:

#%sql duckdb:///minthc_db
working_path
dbpath = working_path+"/minthc_db"
print(dbpath)
conn = duckdb.connect(database = dbpath)

#via conn.sql or duckdb.default_connection.sql("SELECT * FROM tbl")
%sql conn

2024-06-18 17:43:21.595957

In [9]:
#conn.sql("SELECT version();")
#df

%sql select * from asn_transactie;

,boekings_datum,rekening_nr_self,rekening_nr,naam_rekening,adres,postcode,plaats,valuta_rekening,saldo_voor_mutatie,valuta_mutatie,bedrag,journaal_datum,valuta_datum,transactie_code,transactie_afk,transactie_volgnr,betalingskenmerk,omschrijving,afschriftnr
0,2023-01-06,NL97ASNB8831419706,NL78ABNA0621628409,RANDSTAD GROEP NEDERLAND,None,None,None,EUR,32183.019531,EUR,920.369995,2023-01-06,2023-01-06,8809,OVS,61489930,None,Paid invoices MIN420000022,2
1,2023-01-06,NL97ASNB8831419706,NL86INGB0002445588,Belastingdienst,None,None,None,EUR,33103.390625,EUR,-6093.000000,2023-01-06,2023-01-06,9930,IOI,61964992,2193492171201300,None,2
2,2023-01-11,NL97ASNB8831419706,None,None,None,None,None,EUR,27010.390625,EUR,0.000000,2023-01-12,2023-01-11,6305,NUL,60042243,None,Mobiel betalen is vanaf nu mogelijk voor CHING CHUNG H R G met Google Pixel 6 Pro,2
3,2023-01-23,NL97ASNB8831419706,NL92INGB0005302809,Gemeente Nijmegen via ING,None,None,None,EUR,27010.390625,EUR,-12.000000,2023-01-23,2023-01-23,9806,IDE,60561603,None,7126804073 0051100238291662 20230000527329 A755500,4
4,2023-01-23,NL97ASNB8831419706,NL14ABNA0243184255,SHELL EV CHARGING SOLUTI,None,None,None,EUR,26998.390625,EUR,-122.849998,2023-01-23,2023-01-23,9714,EIC,61158601,None,23F015855,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142,2024-03-15,NL97ASNB8831419706,NL46RABO0306251507,Oostendorp Auto Nijmegen,None,None,None,EUR,78327.523438,EUR,-146.410004,2024-03-16,2024-03-15,9930,IOI,60043371,None,181059274,12
143,2024-03-22,NL97ASNB8831419706,NL78ABNA0621628409,RANDSTAD GROEP NEDERLAND,None,None,None,EUR,78181.109375,EUR,3681.500000,2024-03-22,2024-03-22,8809,OVS,62081883,None,Paid invoices MIN420000067,12
144,2024-03-25,NL97ASNB8831419706,None,None,None,None,None,EUR,81862.609375,EUR,-2.700000,2024-03-25,2024-03-25,7241,AFB,61180460,None,Kosten gebruik betaalrekening inclusief 1 betaalpas,14
145,2024-03-25,NL97ASNB8831419706,NL14ABNA0243184255,SHELL EV CHARGING SOLUTI,None,None,None,EUR,81859.906250,EUR,-245.539993,2024-03-25,2024-03-25,9714,EIC,64436951,None,APS00000000003622126,14
146,2024-03-28,NL97ASNB8831419706,NL78ABNA0621628409,RANDSTAD GROEP NEDERLAND,None,None,None,EUR,81614.367188,EUR,3681.500000,2024-03-28,2024-03-28,8809,OVS,63000163,None,Paid invoices MIN420000068,14

In [30]:
df['table_name']
conn.sql("select * from asn_transactie")

┌────────────────┬────────────────────┬───┬──────────────────┬──────────────────────┬─────────────┐
│ boekings_datum │  rekening_nr_self  │ … │ betalingskenmerk │     omschrijving     │ afschriftnr │
│    varchar     │      varchar       │   │     varchar      │       varchar        │    int8     │
├────────────────┼────────────────────┼───┼──────────────────┼──────────────────────┼─────────────┤
│ 2023-01-06     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │           2 │
│ 2023-01-06     │ NL97ASNB8831419706 │ … │ 2193492171201300 │ NULL                 │           2 │
│ 2023-01-11     │ NL97ASNB8831419706 │ … │ NULL             │ Mobiel betalen is …  │           2 │
│ 2023-01-23     │ NL97ASNB8831419706 │ … │ NULL             │ 7126804073 0051100…  │           4 │
│ 2023-01-23     │ NL97ASNB8831419706 │ … │ NULL             │ 23F015855            │           4 │
│ 2023-01-25     │ NL97ASNB8831419706 │ … │ NULL             │ Kosten gebruik bet…  │           4 │
│ 2023-01-26     │ NL97ASNB8831419706 │ … │ NULL             │ BQSF9ZGQXMN97F32JF…  │           4 │
│ 2023-01-27     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │           4 │
│ 2023-01-28     │ NL97ASNB8831419706 │ … │ 8193492177030001 │ NULL                 │           4 │
│ 2023-02-03     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │           6 │
│     ·          │         ·          │ · │  ·               │          ·           │           · │
│     ·          │         ·          │ · │  ·               │          ·           │           · │
│     ·          │         ·          │ · │  ·               │          ·           │           · │
│ 2024-03-02     │ NL97ASNB8831419706 │ … │ NULL             │ 6TA8QUB 0140000850…  │          10 │
│ 2024-03-12     │ NL97ASNB8831419706 │ … │ NULL             │ payatt3OtboRKfnk3H…  │          12 │
│ 2024-03-14     │ NL97ASNB8831419706 │ … │ NULL             │ 6BUODRM 0140000854…  │          12 │
│ 2024-03-14     │ NL97ASNB8831419706 │ … │ NULL             │ Q63N4Z83H45TK2C2JF…  │          12 │
│ 2024-03-15     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │          12 │
│ 2024-03-15     │ NL97ASNB8831419706 │ … │ NULL             │ 181059274            │          12 │
│ 2024-03-22     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │          12 │
│ 2024-03-25     │ NL97ASNB8831419706 │ … │ NULL             │ Kosten gebruik bet…  │          14 │
│ 2024-03-25     │ NL97ASNB8831419706 │ … │ NULL             │ APS00000000003622126 │          14 │
│ 2024-03-28     │ NL97ASNB8831419706 │ … │ NULL             │ Paid invoices MIN4…  │          14 │
├────────────────┴────────────────────┴───┴──────────────────┴──────────────────────┴─────────────┤
│ 147 rows (20 shown)                                                        19 columns (5 shown) │
└─────────────────────────────────────────────────────────────────────────────────────────────────┘

In [31]:
#ingestion
from datetime import datetime

ingestion_folder = datapath
os.chdir(datapath)

files = filter(os.path.isfile, os.listdir(ingestion_folder))
files = [os.path.join(ingestion_folder, f) for f in files]

#files.sort(key=lambda x: os.path.getmtime(x))
files.sort(key=os.path.getmtime, reverse=True)

#file_to_ingest = 'transactie-historie_NL97ASNB8831419706_20240426112409.csv'
ts = datetime.fromtimestamp(os.path.getmtime(files[0])).strftime('%Y-%m-%d %H:%M:%S')
print(f'file to ingest' + files[0])
print(ts)

file_to_ingest = files[0]

query = "SELECT * FROM read_csv_auto('" + file_to_ingest + "',auto_detect=true);"
query = "SELECT * FROM read_csv_auto('" + file_to_ingest + "');"
print(query)
df = duckdb.sql(query)

df = conn.sql(query)
df


conn.sql("select * from temp.pg_catalog.pg_database")
#df.fetch

file to ingest/home/howie/Documents/MINT HC/2023/transactiedata/C:\Users\howie\1.Documenten\MINT HC\database\ingestionminthc_db.wal
2024-06-18 17:06:05
SELECT * FROM read_csv_auto('/home/howie/Documents/MINT HC/2023/transactiedata/C:\Users\howie\1.Documenten\MINT HC\database\ingestionminthc_db.wal');

InvalidInputException: Invalid Input Error: Error in file "/home/howie/Documents/MINT HC/2023/transactiedata/C:\Users\howie\1.Documenten\MINT HC\database\ingestionminthc_db.wal": CSV options could not be auto-detected. Consider setting parser options manually.

In [ ]:
%%sql

SELECT * FROM read_csv_auto('transactie-historie_NL97ASNB8831419706_20240426112409.csv') LIMIT 1;

In [ ]:
#cell for testing conn
#import sqlalchemy
#conn = duckdb.connect('minthc_db')
#view wordt beneden gedefineerd
%sql select * from vw_asn_transactie

In [ ]:
%%sql
--datatypes enz later in view
CREATE TABLE asn_transactie(
	boekings_datum nvarchar(50) NOT NULL,
	rekening_nr_self nvarchar(50) NOT NULL,
	rekening_nr nvarchar(50) NULL,
	naam_rekening nvarchar(50) NULL,
	adres nvarchar(1) NULL,
	postcode nvarchar(1) NULL,
	plaats nvarchar(1) NULL,
	valuta_rekening nvarchar(50) NOT NULL,
	saldo_voor_mutatie float NOT NULL,
	valuta_mutatie nvarchar(50) NOT NULL,
	bedrag float NOT NULL,
	journaal_datum nvarchar(50) NOT NULL,
	valuta_datum nvarchar(50) NOT NULL,
	transactie_code smallint NOT NULL,
	transactie_afk nvarchar(50) NOT NULL,
	transactie_volgnr int NOT NULL,
	betalingskenmerk nvarchar(50) NULL,
	omschrijving nvarchar(200) NULL,
	afschriftnr tinyint NOT NULL

)

In [ ]:
%%sql

INSERT INTO asn_transactie
--SELECT * FROM read_csv_auto('transactie-historie_NL97ASNB8831419706_20240119105446.csv');
SELECT * FROM read_csv_auto('transactie-historie_NL97ASNB8831419706_20240426112409.csv');

In [ ]:
%%sql
select * from asn_transactie

In [ ]:

%%sql
DROP VIEW vw_asn_transactie;
Create VIEW vw_asn_transactie AS
SELECT
       case when omschrijving like '%Kosten gebruik%' AND naam_rekening IS NULL THEN 'bankkosten'
            when omschrijving like '%CCV*Laadpaal%'                             THEN 'autokosten'
            when omschrijving like '%HYUNDAI%'                                  THEN 'autokosten'
            when omschrijving like '%refund%'                                   THEN 'autokosten'
            when naam_rekening like '%SHELL%'                                   THEN 'autokosten'
            when naam_rekening like '%RANDSTAD%'                                THEN 'inkomsten'
            when naam_rekening like '%Amazon%'                                  THEN 'kantoorkosten'
            when naam_rekening like '%AMZN%'                                    THEN 'kantoorkosten'
            when naam_rekening like '%bol.com%'                                 THEN 'kantoorkosten'
            when naam_rekening like '%Coolblue%'                                THEN 'kantoorkosten'


            when naam_rekening like 'Framework Computer Inc via Framework Computer LLC' THEN 'kantoorkosten'
            when naam_rekening like 'FUTURUMSHOP.NL B.V.'                               THEN 'autokosten' --drager
            when naam_rekening like 'Gemeente Nijmegen via ING'                         THEN 'autokosten' --parkeren
            when naam_rekening like 'Heuts.nl via MultiSafepay'                         THEN 'autokosten'
            when naam_rekening like 'Kamer van Koophandel via CCV Group BV'             THEN 'overig'
            when naam_rekening like '%Belsimpel%'                                       THEN 'telefoonkosten'
            when naam_rekening like '%CHING%'                                           THEN 'prive'
            when naam_rekening = 'Belastingdienst'                                      THEN 'belasting'
            when naam_rekening = 'CENTRAAL BEHEER'                                      THEN 'verzekeringen'
            --N.V. Schadeverz.-Mij. Bo --geen btw

            else 'overig/prive/uitzoeken'


        end as categorie
      ,case when bedrag < 0 then 'uitgaven'
        else 'inkomsten' end as transactie_type
      ,cast(boekings_datum as date) as boekings_datum
      ,omschrijving
      ,bedrag
      ,bedrag/1.21  as bedrag_ex_btw
      ,bedrag/1.21*.21 as bedrag_btw
      /*
      ,format(bedrag, 'N', 'nl-NL') as bedrag
      ,format(bedrag/1.21 , 'N', 'nl-NL') as bedrag_ex_btw
      ,format(bedrag/1.21*.21, 'N', 'nl-NL') as bedrag_btw
      ,bedrag as bedrag_bron
      */
      ,naam_rekening
      ,rekening_nr
      ,date_part('quarter',cast(boekings_datum as date)) as kwartaal
      ,betalingskenmerk
      --,saldo_voor_mutatie
      --,journaal_datum
      --,valuta_datum
      --,transactie_code
      --,transactie_afk
      --,transactie_volgnr

      --,afschriftnr
      --,rekening_nr_self
  FROM asn_transactie
  where 1=1
    and bedrag <> 0
 -- order by naam_rekening
 ;

In [ ]:
%%sql

--aangifte btw omzet belasting q3 2023
select *
FROM vw_asn_transactie
  where 1=1
    and kwartaal = 4;

In [ ]:
%%sql

--uitgaven
SELECT *
  FROM vw_asn_transactie
  where 1=1
    and kwartaal = 4
    and categorie NOT IN ('belasting','bankkosten','verzekeringen')
    and categorie <> 'inkomsten'
  --Hyundai Autoverzekering. Polisnummer: 39165460...
  order by categorie;

In [ ]:
%%sql


    --inkomsten
SELECT categorie, sum(bedrag) as bedrag_totaal, sum(bedrag_ex_btw) as omzet, sum(bedrag_btw) as omzetbelasting
  FROM vw_asn_transactie
  where 1=1
    and kwartaal = 4
    and categorie NOT IN ('belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken')
    and categorie = 'inkomsten'
  group by categorie
  order by categorie;

In [ ]:

%%sql
SELECT
      string_agg(categorie,' ' order by categorie asc) as cats
    , sum(bedrag)*-1 as bedrag_totaal, sum(bedrag_ex_btw)*-1 as omzet
    , sum(bedrag_btw)*-1 as omzetbelasting
  FROM vw_asn_transactie
  where 1=1
    and kwartaal = 3
    and categorie NOT IN ('belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken')
    and categorie <> 'inkomsten'
  --group by categorie
  --order by categorie;

/*
CREATE MACRO distwords(a) AS  (WITH MY_CTE AS ( SELECT Distinct(a) FROM STRING_SPLIT(a, ' ')  ) SELECT MY_CTE.a  = STRING_AGG(a, ' ') FROM MY_CTE);


        CREATE OR ALTER FUNCTION [dbo].[fn_DistinctWords]
        (
        @String NVARCHAR(MAX)
        )
        RETURNS NVARCHAR(MAX)
        WITH SCHEMABINDING
        AS
        BEGIN
        DECLARE @Result NVARCHAR(MAX);
        WITH MY_CTE AS ( SELECT Distinct(value) FROM STRING_SPLIT(@String, ' ')  )
        SELECT @Result = STRING_AGG(value, ' ') FROM MY_CTE
        RETURN @Result
        END
  */

In [ ]:
#%sql output_df << SELECT * FROM duckdb_views() where view_name = 'vw_asn_transactie'
%config SqlMagic.displaylimit = None
%config SqlMagic.autolimit = 0
%config SqlMagic.style = "MSWORD_FRIENDLY"
#%config SqlMagic
%sql output_df << SELECT * FROM vw_asn_transactie
#with pd.option_context('display.max_rows', None,
#                       'display.max_columns', None,
#                       'display.precision', 3,
#                       ):
#    --print(output_df['categorie'])

display(output_df)
#duckdb.sql("SELECT * FROM duckdb_views()")

#output_df.query('bedrag ==-25.299999')['omschrijving']

In [ ]:
dfx = output_df.query("categorie not in ['inkomsten','bankkosten','belasting'] and kwartaal == 4 \
                        and transactie_type != 'inkomsten' \
                        and naam_rekening   != 'CENTRAAL BEHEER' \
                        and naam_rekening   != 'N.V. Schadeverz.-Mij. Bo' \
                        and omschrijving    == omschrijving \
                        and omschrijving    != 'Kronkel BV            >NIJMEGEN 20.12.2023 23U29 KV005 291P21 MCC:5813 Contactloze betaling NLNEDERLAND' \
                        and  naam_rekening  != 'TLS BV inz. OV-Chipkaart'" )
                      # \                        and" )



#                      and omschrijving != 'Kronkel BV >NIJMEGEN 20.12.2023 23U..'")

display(dfx)
dfx.count()
--len(dfx)
#dfx = output_df.query("categorie not in ['inkomsten','bankkosten','prive','overig','overig/prive/uitzoeken'] and \
#                   kwartaal == 4 ")
#.sum(numeric_only=True)

In [ ]:

#dfx.groupby(level="categorie").mean()
display(dfx)
dfx.sum(numeric_only=True)
dfx.groupby("transactie_type").sum(numeric_only=True)
#['belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken']
#output_df['categorie'] in ['belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken']
#output_df[     output_df['categorie'] in ['belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken']]
#output_df['kwartaal']==3 &

#SELECT
#      string_agg(categorie,' ' order by categorie asc) as cats
#    , sum(bedrag)*-1 as bedrag_totaal, sum(bedrag_ex_btw)*-1 as omzet
#    , sum(bedrag_btw)*-1 as omzetbelasting
#  FROM vw_asn_transactie
#  where 1=1
#    and kwartaal = 3
#    and categorie NOT IN ('belasting','bankkosten', 'prive','overig','overig/prive/uitzoeken')
#    and categorie <> 'inkomsten'

todo:
priveposten voor normale aangiften
- priveuitgave kronkel
btw 2024q1: 
- inkoopfactuur 1 niet overgemaakt -> 2024q1

In [ ]:
%%sql
select
    *
from vw_asn_transactie
where 1=1
    --and transactie_type = 'inkomsten'
    and year(boekings_datum) = 2024


order by 1

In [ ]:
%%sql
select
    naam_rekening,
    sum(bedrag) as bedrag,
    sum(bedrag_ex_btw) as bedrag_ex_btw,
    sum(bedrag_btw) as bedrag_btw
from vw_asn_transactie
where 1=1
    and transactie_type = 'inkomsten'
    and year(boekings_datum) = 2024
group by naam_rekening

In [ ]:
%%sql
--voorbelasting
-- shell heeft geen standaard 21% btw, buitenland, handmatig van factuur
drop view if exists vw_asn_transactie_2024_q1;
create view vw_asn_transactie_2024_q1 as
select
    *,
    CASE WHEN omschrijving  = '24F064084' THEN 0.84
         WHEN omschrijving = 'APS00000000003622126' THEN 16.74 + 7.01
         WHEN omschrijving = '24F134766' THEN 0.84
         WHEN omschrijving = '24F241170' THEN 4.15
         WHEN omschrijving = 'payatt3OtboRKfnk3HlqaY06P2KMSZ 0220887389455038 Framework Computer Inc' THEN 2263-1870.27
         else abs(bedrag_btw)
        end as voorbelasting_gecorrigeerd
        ,
from vw_asn_transactie
where 1=1
    and transactie_type = 'uitgaven'
    and categorie not in ('belasting','bankkosten')
    and year(boekings_datum) = 2024
order by 1

In [ ]:
%%sql
select * from  vw_asn_transactie_2024_q1;

In [ ]:
%%sql
select
    sum(cast(voorbelasting_gecorrigeerd as decimal (19,2))) as voorbelasting_gecorrigeerd

from vw_asn_transactie_2024_q1

In [ ]:
%sql EXPORT DATABASE 'minthc_parquet' (FORMAT PARQUET);

In [ ]:
import os

os.getcwd()
#--os.listdir(os.getcwd())